* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.wrapper {
    width: 100%;
    height: 100vh;

}

.header{
    background-color: rgb(46, 58, 70);
    padding: 9px;
    display: flex;
   justify-content: space-between;
}
.logo {
    width: 60px;
    height: 60px;
    display: block;

}
.label {
    color: white;
    background-color: #1e2e3c;
    padding: 10px 10px;
    text-align: center;

}
.label p {
    float: right;
}
.select {
    background-color: #1e2e3c;
    padding: 6px;
    color: white;
    border-radius: 11px;
    font-size: 19px;
    width: 156px;
}


main {
    background-color: #1e2e3c;

}

.cds-container {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cursor {
    cursor: pointer;
}
.cd {
    width: calc((100% / 5) - 62px);
    text-align: center;
    background-color: rgb(46, 58, 70);
    padding: 11px ;
    margin: 14px 14px;
 }
.cd img {
    width: 100%;
    object-fit: cover;
}
.cd-title {
    color: #cdcf5d;
    margin: 2px;
    font-size: 13px;
    display: block;
}
.cd-author,
.cd-year {
    font-size: 15px;
    color: #aed6ff;
}



.cd-artista {
    color: white;
}